.metadata
bin/
tmp/
nbproject/
*.xml
*.mf
*.tmp
*.bak
*.swp
*~.nib
postgresql-42.2.11.jar
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# Locally stored "Eclipse launch configurations"
*.launch

/build/